.venv
venv
.env
.idea
.bot.py.swo
.vscode
__pycache__
__pycache__/
ntk_data.txt
test.py
bad_words.txt
data.json
test_ml.py
.gitignore
model_GradientBoostingRegressor().pkl
model_LinearRegression().pkl
model_RandomForestRegressor().pkl
